[submodule "Libraries/TiltedReverse"]
	path = Libraries/TiltedReverse
	url = https://github.com/TiltedPhoques/TiltedReverse
[submodule "Libraries/TiltedUI"]
	path = Libraries/TiltedUI
	url = https://github.com/TiltedPhoques/TiltedUI
[submodule "Libraries/TiltedConnect"]
	path = Libraries/TiltedConnect
	url = https://github.com/TiltedPhoques/TiltedConnect
[submodule "Libraries/TiltedHooks"]
	path = Libraries/TiltedHooks
	url = https://github.com/TiltedPhoques/TiltedHooks
[submodule "plugins/STRPluginMessagingAPI"]
	path = plugins/STRPluginMessagingAPI
	url = https://github.com/Caelvanost/STRPluginMessagingAPI.git
[submodule "plugins/OStimTogether"]
	path = plugins/OStimTogether
	url = https://github.com/Caelvanost/OStimTogether.git
[submodule "plugins/MorphSyncTogether"]
	path = plugins/MorphSyncTogether
	url = https://github.com/Caelvanost/MorphSyncTogether.git
[submodule "plugins/IEDSyncTogether"]
	path = plugins/IEDSyncTogether
	url = https://github.com/Caelvanost/IEDSyncTogether.git
[submodule "plugins/AnimSyncTogether"]
	path = plugins/AnimSyncTogether
	url = https://github.com/Caelvanost/AnimSyncTogether.git
[submodule "plugins/DAVSyncTogether"]
	path = plugins/DAVSyncTogether
	url = https://github.com/Caelvanost/DAVSyncTogether.git
[submodule "plugins/TradeTogether"]
	path = plugins/TradeTogether
	url = https://github.com/Caelvanost/TradeTogether.git
